@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/59/87/b5/5987b5726a1a745560869e4342e40a63.jpg);
    background-size: cover;
}

body h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: "Open Sans";
    font-weight: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 9vh;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.30);
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9vh;
    margin-top: 15vh;
    margin-bottom: -15vh;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 60%;
    height: 70%;
    margin-top: 8em;
    overflow: hidden;
    border-radius: 5vh;
    padding-top: 1em;
    gap: 3rem;
}

input {
    width: 20rem;
    min-width: 15rem;
    height: 3.5rem;
    border-radius: 15vh;
    border: none;
    outline: none;
    padding: 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    font-size: 1rem;
    overflow: hidden;
    transition: 0.5s;
}

input:hover {
    transition: 0.5s ;
    width: 40em;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 5vh;
    border: none;
    outline: none;
    background-color: #5b5bff;
    color: white;
    cursor: pointer;
    margin-left: -3.5rem;
    font-size: 1.5rem;
    z-index: 1;
}

button:hover {
    background-color: #7979fe;
}

button:active {
    background-color: #3b3bff;
}

.buttonBackgroundClickBlocker {
    position: fixed;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
    margin-top: -0.2rem;
}

.mainContainerLeft {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(40px);
    border-radius: 5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    overflow: hidden;
}

.mainContainerRight {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(40px);
    border-radius: 5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Open Sans";
    font-weight: 100;
    color: white;
    margin-top: 1em
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: "Open Sans";
    font-weight: 100;
    color: white;
    margin-top: 5.2vh;
    margin-bottom: 1em;
    width: 100%;
    height: 4vh;
}

.mainContainerRight .description {
    margin-top: 0rem;
    font-size: 1.5rem;
    height: 5vh;
    padding: 3vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}

.daySlot {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Open Sans";
    font-weight: 100;
    color: white;
    margin-top: -1.5rem;
    margin-bottom: 1em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 12vh;
    padding-left: 1rem;
}

.bx-sun {
    color: yellow;
    font-size: 8rem;
}

.descriptionWeather {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Open Sans";
    font-weight: 100;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 4vh;
}